@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Tajawal:wght@200&display=swap');
*{
    direction: rtl;
   
    font-family: 'Tajawal', sans-serif;
    --body-color:#ffffff;
    --text-color:#272162;

}
body {
    background-color: #fff
}

.card1 {
    height: 100vh;
    width: 100%;
    background-color: #272162;
    border: none
}

.card2 {
    height: 100vh;
    width: 100%;
    background-color: #f6f5fa;
    border: none
}

.image span {
    color: #fff;
    font-size: 28px
}

.hline {
    color: #a2a5d8
}

.btn {
    height: 40px;
    width: 100%;
    border: none;
    position: relative;
    border-radius: 5px
}

.btn i {
    position: absolute;
    left: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    top: 10px
}

.btn span {
    position: absolute;
    right: 8px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    top: 10px
}

.btn:hover {
    background-color: #3ddcd1
}

.other {
    color: #575c93
}

.hello span {
    font-size: 25px;
    font-weight: bold;
    color: #3c3f61;
    right: 40px
}

.shape {
    background-color: #fff
}

.cardchild {
    height: 100px;
    width: 200px;
    border: none;
    position: relative;
    border-radius: 10px
}

.type {
    font-weight: 500
}

.number {
    font-size: 25px;
    color: #4f5366
}

.cardchild .logo1 {
    position: absolute;
    top: 15px;
    right: 20px
}

.cardchild .percentage {
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: #48ddd8;
    font-weight: 500
}

.cardchild .logo2 {
    position: absolute;
    top: 15px;
    right: 20px
}

.cardchild .percentage2 {
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: #bb7484;
    font-weight: 500
}

.cardchild .logo3 {
    position: absolute;
    top: 15px;
    color: #bb7484;
    right: 20px
}

.cardchild .percentage3 {
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: #48ddd8;
    font-weight: 500
}

.cardchild .logo4 {
    position: absolute;
    top: 15px;
    right: 20px
}

.cardchild .percentage4 {
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: #bb7484;
    font-weight: 500
}

.cardchildchild {
    width: 335px;
    position: relative;
    border: none;
    border-radius: 15px;
    cursor: pointer
}

.cardchildchild .profile1 {
    position: absolute;
    border-radius: 50%;
    top: -45px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 120px
}

.name {
    font-size: 18px;
    font-weight: 500
}

.braceletid {
    font-size: 13px;
    color: #bab9ba;
    font-family: 'Source Sans Pro', sans-serif
}

.btn1 {
    height: 35px;
    width: 160px;
    border: none;
    background-color: #f8c01a;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px
}

.btn1:hover {
    background-color: #c72b2b
}

.icons {
    font-size: 20px;
    font-weight: 500
}

.dummytext {
    font-size: 14px;
    font-weight: normal;
    color: #b0aeb1
}

.btn2 {
    height: 35px;
    width: 160px;
    border: none;
    background-color: #c72b2b;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px
}

.btn2:hover {
    background-color: #f8c01a
}
.form-control {
    appearance: auto;
    color: var(--text-color);
}

.chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto !important;
    height: 1%;
    border: 1px solid var(--G3);
    background-color: var(--W1);
    background-image: linear-gradient(#eee 1%,white 15%);
    cursor: text;
}