@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Tajawal:wght@200&display=swap');

*{
    direction: rtl;
   
    font-family: 'Tajawal', sans-serif;
    --body-color:#ffffff;
    --text-color:#272162;

}
header{
    position: fixed;
    top: 0;
    z-index: 200;
    padding: 0;
    margin: 0;
    width: 100%;
    color: rgb(255, 255, 255);
}
.search_he{
width: 300px;
}
.form-control{
    border-radius: 1rem;
}
.bg-light {
    --bs-bg-opacity: .5;
}
.dropdown-menu{
text-align: right;
}
.carousel-caption h1{
    font-weight: bold;
    font-size: 45px;
}
.row-80{
    width: 85%;
    margin: 2rem auto;
}
section h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 1rem;
}
.card-title{
    text-align: center;
    font-weight: bold;
}
.btn a{
    text-decoration: none;
}
.section2 .carousel-inner{
  width: 60%;
  margin: 4rem auto;
}
.section2 .carousel-inner .carousel-item img{
    height: 250px;
    object-fit: cover;
}
.section3 .row{
 margin-bottom: 10rem;   
}
footer h5{
    color: var(--text-color);
}
/* /////////job */
.section_job{
    margin-top: 4rem;
}
.text_he{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 201;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 4rem;
    margin-left: 15%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
/* ///////////////////comp/// */
.section4{
    margin-right: 5rem;
}
.box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

/* ////////////////form contact */
.cont_Form{

    width: 60%;
    margin:6rem  auto;
    }
/* ////////////////sign in// */
    .sign, 
    .login,
    .cont{
        position: relative;
        z-index: 203;
       
    }
    .mr_sign{
        margin: 6rem auto;
    }
    .Signup h3{
        color: var(--text-color);
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }
.btn-success{
   margin: 1rem ;
   background-color: var(--text-color);
}
/* //////////////////info */
